<!doctype html>
<html>
<body>
<h1>Crawl Tasks</h1>
<form method="post" action="/tasks">
<p>Name <input name="name"></p>
<p>Marketplace <input name="marketplace" value="US"></p>
<p>Category ID <input name="category_id"></p>
<p>Schedule <input name="schedule" placeholder="06:00"></p>
<button>Save</button>
</form>
<table border="1">
<tr><th>Name</th><th>Site</th><th>Schedule</th></tr>
{% for item in tasks %}
<tr><td>{{item.name}}</td><td>{{item.marketplace}}</td><td>{{item.schedule}}</td></tr>
{% endfor %}
</table>
</body>
</html>
